*{
    margin: 0;
    padding: 0;
}

.strdiv{
    background-color:rgb(247,244,243);
    border: 2px solid rgba(149, 146, 146, 0.523);
    margin: 30px;
    border-radius: 25px;
    width: 25rem;
    height: 35rem;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    
}

.products{
    display:  grid;
    grid-template-columns: 28rem 28rem 28rem;
    grid-template-rows: 38rem 38rem 38rem;
    gap: 10px;
}

.shop{
    /* height: 90vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.proimage{
    /* mix-blend-mode: ; */
    width: 300px;
}
.addbtn{
    padding: 6px 12px;
    background-color: rgba(245, 240, 220, 0.525);
    color: black;
    border-radius: 25px;
    margin-top: 20px;
    border: 1px solid black;
}
:hover.addbtn {
    color: rgb(247,244,243);
    background-color: black;
}


.probrand{
    font-size: 1.6rem;
}
.protext{
    margin: 5px;
}